<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>150</batches>
  <inactive>30</inactive>
  <source strength="1.0">
    <space type="box">
      <parameters>-0.2667 -0.2667 -47.641 0.2667 0.2667 47.641</parameters>
    </space>
  </source>
  <output>
    <summary>false</summary>
  </output>
  <temperature_method>interpolation</temperature_method>
</settings>
